@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #3B0270;
    --accent-color: #6F00FF;
    --highlight-color: #E9B3FB;
    --minor-color: #FFF1F1;
}

.font-size {
    font-size: clamp(1rem, 5vw + .5rem, 1.3rem);
}

.gradient-text {
    color: var(--accent-color);
    background-image: -webkit-linear-gradient(225deg, var(--accent-color) 21%, var(--highlight-color) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.checkbox-style {
    appearance: none;
    position: relative;
    outline: transparent;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 2px solid var(--minor-color);
}

.checkbox-style.is-watched:checked {
    background-color: var(--highlight-color);
}

.checkbox-style.is-watched:checked::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 9px;
    width: 8px;
    height: 16px;
    border:  4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}

.checkbox-style.is-watched:checked::before {
    border-color: var(--main-color);
}
